<div id="accordion">
    <div class="card show mb-3">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link text-uppercase font-weight-bold" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Thông báo dành cho bạn
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Khi chúng tôi nhận thành công bưu kiện từ bạn
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa far fa-envelope"></i>
                                <em class="font-italic">Nhận qua email</em>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Khi chúng tôi giao hàng thành công cho khách hàng của bạn
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <i class="fa far fa-envelope"></i>
                                    <em class="font-italic">Nhận qua email</em>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card show mb-3">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-uppercase font-weight-bold" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Thông báo dành cho khách hàng
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Khi chúng tôi nhận thành công bưu kiện từ bạn
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <em>Chúng tôi cũng sẽ gửi cho họ số theo dõi, vì vậy bạn không
                                    phải cập nhật cùng trên chi tiết giao hàng</em>
                                <p>
                                    <i class="fa far fa-envelope"></i>
                                    <em class="font-italic">Nhận qua email</em>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Khi chúng tôi thất bại trong việc nhận bưu kiện từ bạn
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa far fa-envelope"></i>
                                        <em class="font-italic">Nhận qua email</em>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa far fas fa-mobile"></i>
                                        <em class="font-italic">Nhận qua tin nhắn</em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Khi chúng tôi giao hàng thành công cho khách hàng của bạn
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <em class="font-italic">Xác nhận này là hửu ích cho các khách hàng bưu kiện mà đã
                                    được nhận bởi người khác</em>
                                <p>
                                    <i class="fa far fa-envelope"></i>
                                    <em class="font-italic">Nhận qua email</em>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-11">
                                Đến lịch lại một giao hàng sau một giao hàng thất bại
                            </div>
                            <div class="col-md-1 text-center">
                                <input type="checkbox" class="checkbox-lg" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <em class="font-italic">Cho phép người nhận hàng có thể sắp xếp lại lịch trình giao
                                    hàng</em>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa far fa-envelope"></i>
                                        <em class="font-italic">Nhận qua email</em>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa far fas fa-mobile"></i>
                                        <em class="font-italic">Nhận qua tin nhắn</em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>