.create-order {
  display: flex;
  justify-content: center;
}

.create-order a {
  width: 80% !important;
  border: 1px solid snow;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.accordionSidebar > a {
  color: aliceblue !important;
}
