<div class="modal fade right" id="forgotSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center  p-2 ">
                Đã gửi liên kết khôi phục mật khẩu, vui lòng kiểm tra email để khôi phục.
                Nếu chưa thấy hãy kiểm tra mục Spam hoặc nhắn gửi lại

                <button class="btn btn-warning" type="button" data-dismiss="modal">
                    Gửi lại
                </button>
            </div>
            <!-- <div class="modal-footer">

                <a class="btn btn-success" href="" data-dismiss="modal">Oke</a>
            </div> -->
        </div>
    </div>
</div>